body{
    /* background-color:#F6AE99; */
    background-color:  #5E454B;
   
}

tr{
    
    font-weight: bolder;
}


h2{

    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}



h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
} 

